table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}
