{% extends 'magictea/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-3 mb-5">
                <a id="{{ recipe.id }}" href="{{ recipe.url }}">
                    <img class="card-img-top" src="
                            {% if recipe.image %}{{ recipe.image }}{% else %}{% static "images/no_preview.jpg" %}{% endif %}">
                </a>
                <p>{{ recipe.summary | safe }}</p>
                <a href="{{ recipe.url }}"><p><em>Source: {{ recipe.sourceName }}</em></p></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


